* {
    margin: 0;
    padding: 0;
    font-family: 'Grandstander', cursive;
}

@media screen and (max-width: 425px) {

    /* Navbar */

    #navbar {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(10px);
        border-bottom: 1px black solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: sticky;
        top: 0px;
    }

    /* Open btn */

    #openBtn {
        width: 15%;
        height: 100%;
    }

    #openBtn img {
        width: 100%;
        height: 100%;
    }

    /* Sidenav menu */

    .sidenav {
        height: 100%;
        width: 70%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
        transition: left 0.5s ease;
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Sidenav menu links */

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #111;
    }

    /* Active class */

    .sidenav.active {
        left: 0;
    }

    /* Close btn */

    .sidenav .closeNavbar {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    h2 {
        background-color: #A8937E;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

    /* Logo du site */

    #logo {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    /* Panier */

    #panier {
        width: 15%;
        height: 100%;
    }

    #btnBasket {
        width: 15%;
        border: none;
        background: none;
    }

    #btnBasket img {
        width: 100%;
        height: 100%;
    }

    /* Modal du panier */

    #panier {
        width: 100vw;
        height: 100%;
    }

    .modal {
        width: 80%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }


    .modalContent {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .modalContent button {
        width: 50%;
        margin-left: 25%;
        background-color: #A8937E;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }

    #contentBasket {
        border: 1px black solid;
        margin: 10px;
        padding: 10px;
    }

    .closeModal {
        width: 10%;
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 5px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Section 1 Presentation */

    /* Image de presentation */

    #picturePres {
        width: 100%;
        height: 10%;
    }

    #picturePres img {
        width: 100%;
        height: 100%;
    }

    #paragraphPres {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #paragraphPres p {
        width: 80%;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        background-color: #F1E0C5;
    }

    /* Titre de catégorie */

    h3 {
        width: 100%;
        background-color: #A8937E;
        color: white;
        text-align: center;
    }

    .category {
        width: 96%;
        padding: 2%;
    }

    /* Catégorie Polo */

    #sectionPolo {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #cardPolo {
        width: 90%;
        margin: 5%;
    }

    /* Catégorie Short */

    #sectionShort {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #cardShort {
        width: 90%;
        margin: 5%;
    }

    /* Catégorie Espadrille */

    #sectionShoes {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #cardShoes {
        width: 90%;
        margin: 5%;
    }

    /* Card des articles */

    .cardArticle {
        margin: 5%;
    }

    .pictureCard {
        width: 100%;
        border-radius: 10px;
    }

    .detailsCard {
        width: 90%;
        text-align: center;
        padding: 5%;
        border-radius: 10px;
        background-color: #F1E0C5;
    }

    /* Scroll to top */

    #scroll_to_top {
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 50px;
        right: 30px;
    }

    #scroll_to_top img {
        width: 25px;
    }

    html {
        scroll-behavior: smooth;
    }

    /* Footer */

    footer {
        width: 100%;
        background-color: #A8937E;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    footer a {
        width: 10%;
    }

    footer a img {
        width: 100%;
        height: 100%;
    }
}



/* Version desktop */

@media screen and (min-width: 1020px) {

    /* Navbar */

    #navbar {
        width: 96%;
        height: 10%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(10px);
        border-bottom: 1px black solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0px;
        padding: 2%;
    }

    #openBtn {
        width: 5%;
        height: 80%;
    }

    #openBtn img {
        width: 100%;
        height: 100%;
    }

    /* Sidenav menu */

    .sidenav {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
        transition: left 0.5s ease;
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Sidenav menu links */

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #111;
    }

    /* Active class */

    .sidenav.active {
        left: 0;
    }

    /* Close btn */

    .sidenav .closeNavbar {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    h2 {
        background-color: #A8937E;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

    /* Logo du site */

    #logo {
        width: 5%;
        height: 80%;
        display: flex;
        justify-content: center;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    /* Panier */

    #panier {
        width: 10%;
        height: 100%;
    }

    #btnBasket {
        width: 5%;
        border: none;
        background: none;
    }

    #btnBasket img {
        width: 100%;
        height: 100%;
    }

    /* Modal du panier */

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }


    .modalContent {
        width: 80%;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        text-align: center;
    }

    .modalContent button {
        width: 30%;
        background-color: #A8937E;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }

    #contentBasket {
        border: 1px black solid;
        margin: 10px;
        padding: 10px;
    }

    .closeModal {
        width: 10%;
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 5px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Section 1 Presentation */

    /* Image de presentation */

    #picturePres {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #picturePres img {
        width: 80%;
    }

    #paragraphPres {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #paragraphPres p {
        width: 70%;
        text-align: center;
        border-radius: 10px;
        padding: 50px;
        background-color: #F1E0C5;
    }

    /* Titre de catégorie */

    h3 {
        width: 100%;
        background-color: #A8937E;
        color: white;
        text-align: center;
        font-size: xx-large;
        margin-bottom: 5%;
    }

    .category {
        width: 96%;
        padding: 2%;

    }

    /* Catégorie Polo */

    #sectionPolo {
        width: 100%;
    }

    #cardPolo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    /* Catégorie Short */
    
    #sectionShort {
        width: 100%;
        
    }
    
    #cardShort {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    /* Catégorie Espadrille */
    
    #sectionShoes {
        width: 100%;
    }
    
    #cardShoes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    /* Card des articles */

    .cardArticle {
        width: 20%;
        margin: 5%;
    }
    
    .pictureCard {
        width: 100%;
        border-radius: 10px;
    }
    
    .detailsCard {
        width: 90%;
        text-align: center;
        font-size: x-large;
        padding: 5%;
        border-radius: 10px;
        background-color: #F1E0C5;
    }

    /* Scroll to top */

    #scroll_to_top {
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 50px;
        right: 30px;
    }

    #scroll_to_top img {
        width: 25px;
    }

    html {
        scroll-behavior: smooth;
    }
    
    /* Footer */

    footer {
        width: 100%;
        height: 10vh;
        background-color: #A8937E;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    footer a {
        width: 3%;
    }

    footer a img {
        width: 100%;
        height: 100%;
    }
    
}